* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .34rem;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    width: 100%;
    height: 44px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span img {
        width: 16px;
        height: 20px;
    }
}

.content {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    ul {
        width: 100%;
        height: 90px;
        border-bottom: 1px #ccc solid;
        display: flex;
        align-items: center;
        li {
            padding: 0 10px;
        }
        li img {
            width: 60px;
            height: 60px;
        }
    }
    dl {
        width: 100%;
        height: 60px;
        border-bottom: 1px #ccc solid;
        display: flex;
        align-items: center;
        dt img {
            width: 30px;
            height: 25px;
            padding: 0 10px;
        }
        dd {
            padding: 0 10px;
        }
    }
}